<% if admin_signed_in? %>
    <%= link_to 'Выйти', destroy_admin_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_admin_session_path %> или <%= link_to 'Зарегистрироваться', new_admin_registration_path %>
<% end %>

<div class="unobtrusive-flash-container"></div>

<%= simple_form_for :user, remote: true, :url => '/sound/index', :method => :post do |f| %>
 <%= f.error_notification %>
  <%= f.input :request, placeholder: "Enter your text: ", :as => :text, input_html: { :style=> 'width: 70%;', :rows => 4, name: "request", include_blank: false, required: true} %>

<div class="chained-selects">
   <select required id="select-1" name="lang">
      <option value="" selected>Choose language</option>
      <option value="en-US">en-US</option>
      <option value="es-ES">es-ES</option>
      <option value="ru-RU">ru-RU</option>
   </select>
   <select required id="select-2" disabled>
      <option value="" selected>Choose voice type</option>
   </select>
   <select required id="select-3" name="voicename" disabled>
      <option value="" selected>Choose voice name</option>
   </select>
</div>
<div class="radio-button">
   <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="MP3" value="MP3" name="codec" checked="checked">
      <label class="custom-control-label" for="MP3">MP3</label>
   </div>
   <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="WAV" value="LINEAR16" name="codec">
      <label class="custom-control-label" for="WAV">WAV</label>
   </div>
   <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="text" value="text" name="text_or_ssml" checked="checked">
      <label class="custom-control-label" for="text">TEXT</label>
   </div>
   <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="ssml" value="ssml" name="text_or_ssml">
      <label class="custom-control-label" for="ssml">SSML</label>
   </div>
</div>
<div id="btnSubmit" type="submit" class="btn btn-light">
   <%= f.button :submit, 'Send' %>
   <% end %>
</div>
</form>

<script src="/js/chained.js"></script>
