<nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0">
      <%= image_tag("tts-logo.png", alt: "Ruby Client for the Cloud Text-to-Speech API") %>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
<% if admin_signed_in? %>
    <%= link_to 'Log Off', destroy_admin_session_path, :method => :delete, :class => "nav-link" %>
<% else %>
    <%= link_to 'Log On', new_admin_session_path %> или <%= link_to 'Sign Up', new_admin_registration_path %>
<% end %>
        </li>
      </ul>
</nav>

<div class="unobtrusive-flash-container"></div>

<%= simple_form_for :user, remote: true, :method => :post do |f| %>
 <%= f.error_notification %>
  <%= f.input :request, placeholder: "Enter your text: ", :as => :text, input_html: { :style=> 'width: 70%;', :rows => 10, id: "body-field", name: "request", include_blank: false, required: true} %>

<span id="body-count">0 characters</span>
<div class="chained-selects">
   <select required id="select-1" name="lang">
      <option value="" selected>Choose language/locale</option>
      <option value="da-DK">Dansk (Danmark)</option>
      <option value="de-DE">Deutsch (Deutschland)</option>
      <option value="en-AU">English (Australia)</option>
      <option value="en-GB">English (Great Britain)</option>
      <option value="en-IN">English (India)</option>
      <option value="en-US">English (United States)</option>
      <option value="es-ES">Español (España)</option>
      <option value="fr-CA">Français (Canada)</option>
      <option value="fr-FR">Français (France)</option>
      <option value="it-IT">Italiano (Italia)</option>
      <option value="nl-NL">Nederlands (Nederland)</option>
      <option value="pl-PL">Polski (Polska)</option>
      <option value="pt-BR">Português (Brasil)</option>
      <option value="pt-PT">Português (Portugal)</option>
      <option value="fi-FI">Suomi (Suomi)</option>
      <option value="el-GR">Ελληνικά (Ελλάδα)</option>
      <option value="ru-RU">Русский (Россия)</option>
      <option value="uk-UA">Українська (Україна)</option>
   </select>
   <select required id="select-2" disabled>
      <option value="" selected>Choose voice type</option>
   </select>
   <select required id="select-3" name="voicename" disabled>
      <option value="" selected>Choose voice name</option>
   </select>
</div>
<div class="radio-button">
   <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="MP3" value="MP3" name="codec" checked="checked">
      <label class="custom-control-label" for="MP3">MP3</label>
   </div>
   <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="WAV" value="LINEAR16" name="codec">
      <label class="custom-control-label" for="WAV">WAV</label>
   </div>
   <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="OGG_OPUS" value="OGG_OPUS" name="codec">
      <label class="custom-control-label" for="OGG_OPUS">OGG</label>
   </div>
   <div class="custom-control-inline">|</div>
   <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="text" value="text" name="text_or_ssml" checked="checked">
      <label class="custom-control-label" for="text">TEXT</label>
   </div>
   <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="ssml" value="ssml" name="text_or_ssml">
      <label class="custom-control-label" for="ssml">SSML</label>
   </div>
   <div class="custom-control-inline">|</div>
      <%= f.label 'Speaking rate', :required => false %>
      <%= speaking_rate %>
</div>

<div id="btnSubmit" type="submit" class="btn btn-light">
   <%= f.button :submit, 'Send' %>
   <% end %>
</div>
</form>

<%= javascript_include_tag 'chained' %>
<%= javascript_include_tag 'counter' %>
